@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#destination-list, #favorites-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
}

#container{
    width: 500px;
}

.destination, .favorite-list {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

#map-container {
    margin: 20px;
    height: 400px;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}


.favorite-list {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.favorite-list h4 {
    margin: 0;
    font-weight: bold;
}

.destination-details {
    margin-left: 15px;
    padding: 5px;
    border-left: 2px solid #ccc;
    display: none;
}

.p {
    margin-left: 15px;
}